@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
.container {
  max-width: 750px;
  .user {
    margin-top:10px;
    padding: 30px 15px;
    border: 1px solid #E1E1E1;
    @include border-radius(10px);
    -webkit-box-shadow: 0 0 3px 2px rgba(230,227,230,1);
    -moz-box-shadow: 0 0 3px 2px rgba(230,227,230,1);
    box-shadow: 0 0 3px 2px rgba(230,227,230,1);
    .username {
      font-size: 32px;
      font-weight: bold;
      color: #00A2EC;
      .template {
        display: inline-block;
      }
    }
    .user-info {
      color: #173644;
      font-size: 28px;
      padding: 3px 0;
      i {
        width: 30px;
      }
      .template {
        display: inline-block;
      }
    }
  }
}

